<h1 mat-dialog-title>Simulação de compra</h1>

 
  <label>Total da compra <b>{{ compra.valorTotal | currency:'R$':true:'1.2-2'}}</b></label><br/>
  <label>Data  <b>{{compra.data | date: 'dd/MM/yyyy'}}</b></label><br/>
  <label>Juros <b>{{compra.juros | number : '1.2-2'}}%</b></label><br/>
  <label>Parcelamento <b>{{compra.quantidadeParcelas}}x</b></label>  <br/>
  <label>Montante <b>{{CalcularMontante() | currency:'R$':true:'1.2-2'}}</b></label>

  <div>
    <h3>Parcelas</h3>
    <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> 
          Valor 
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.valor | currency:'R$':true:'1.2-2'}} 
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="juros">
        <th mat-header-cell *matHeaderCellDef> 
          Juros
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.juros | number : '1.2-2'}}%
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="vencimento">
        <th mat-header-cell *matHeaderCellDef> 
          Vencimento 
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.vencimento | date: 'dd/MM/yyyy'}} 
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
  </div>

<div mat-dialog-actions>
  <button mat-button (click)="Fechar()">Cancelar</button>
  <button mat-raised-button color="warn" cdkFocusInitial (click)="SalvarSimulacao()">Salvar</button>
</div>